-gallery_images = [ "club-sandwich.jpg", "papas.jpg", "hamburger.jpg", "panini.jpg", "club-sandwich.jpg", "papas.jpg"]

!!!5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%html{class:"no-js", lang:"en"}
	%head
		%meta{charset:"utf-8"}
		%meta{name: "description", content: "Eat fresh and delicius latin food"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}

		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
		%link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}

		%script{src:"js/vendor/modernizr-2.8.3.min.js"}

		%title Latin Restaurant
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
			You are using an
			%strong outdated browser.
			Please
			%a{href:"http://browsehappy.com/"}
			upgrade your browser to improve your experience.
		="<![endif]-->"

		//Video container to show video
		.video-container.absolute.title-container
			%video{autoplay:true, width:"100%", height:"100%",poster:"videos/images/bbq.jpg",loop:true}
				%source{src:"videos/mp4/bbq.mp4"}
				%source{src:"videos/webm/bbq.webm"}
		.row.middle-xs.full-height.center-xs.up.relative#home
			.col-xs-12
				.box.white-text
					-# %img{src:"/imgs/logo.png", width:200}
					%h1.title.lobster.no-margin Latin Restaurant
					%p#is-open
						%i.glyphicon.glyphicon-time
						Open Now
			%nav.fixed.top.navegation.right.white-text#navegation
				-menu = ["Home", "Menu", "Galery", "Contact", "Location"]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{}= item

			.absolute.large-padding.white-text.full-width#description
				.row.middle-xs.center-xs.medium
					.col-xs-7.col-sm-6.white-text.absolute
						Good Customer Service and Delicious Food
					.col-xs.hidden#sticky-navegation.invisible
						.box
							%nav.text-right.navegation
								%ul.list-inline
									-menu.each do |item|
										%li
											%a{}= item
				
	.full-height
		.text-center.relative#menu
			.absolute.white#menu-title
				%h2.lobster.title Menu

		-menu_photos = [ {name:"Club Sandwich", pricing:"10.00", image: "club-sandwich"}, {name:"Combo Hamburger", pricing:"12.00", image: "combo"}, {name:"Hamburger", pricing:"10.00", image: "hamburger"}, {name:"Hot Cakes", pricing:"12.00", image: "hot-cakes"}, {name:"Panini", pricing:"10.00", image: "panini"}, {name:"French Frys", pricing:"12.00", image: "papas"}, {name:"Club Sandwich", pricing:"10.00", image: "club-sandwich"}, {name:"Combo Hamburger", pricing:"12.00", image: "combo"} ]
		.row
			-menu_photos.each do |photo|
				.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(imgs/food/#{photo[:image]}-thumb.jpg)"}
					.screen
						.row.middle-xs.center-xs.full-height
							.col-xs-12
								%h3.lobster.white-text.subtitle= photo[:name]
								%p.no-margin.white-text= photo[:pricing] + "USD"
	#gallery
		.inner
			-gallery_images.each do |image|
				.image{style:"background-image:url(imgs/food/#{image});"}



					
				


	%script{src:"https://code.jquery.com/jquery-3.2.1.min.js", integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4", crossorigin:"anonymous"}
	%script
		window.jQuery || document.write("<script src='js/vendor/jquery-1.12.0.min.js'><\/script>")
	%script{src:"/js/main.js"}